<div data-analytics-class="embed" id="<%= slug %>__graphic"></div>
<%= javascript_include_tag "pym.js" %>
<script type="text/javascript">new pym.Parent('<%= slug %>__graphic', '<%= absolute_page_url %>', {xdomain: '.*\.voxmedia\.com'});</script>
